/*variables*/
nav {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 14px/20px "Lato", sans-serif;
  height: 47px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 30px;
  width: 100%;
}

nav .brand {
  margin: 0px 12px 0px 0px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

nav #left_section, nav #right_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #left_section ul li:nth-child(1) {
  margin: 0px 36px 0px 0px;
}

nav #left_section ul li a {
  color: #979797;
  font-weight: 700;
}

nav #left_section ul li a:hover {
  text-decoration: none;
}

nav #left_section ul li a.active {
  color: #34C65C;
  position: relative;
  width: 68px;
}

nav #left_section ul li a.active::after {
  background: #34C65C;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 100%;
}

nav #right_section ul li:nth-child(2) {
  margin: 0px 0px 0px 19px;
}

nav #right_section ul li:nth-child(2) a {
  color: #fff;
  font-weight: 700;
}

nav #right_section ul li a {
  font-weight: 400;
  color: #34C65C;
}

nav #right_section ul li a img {
  margin: 0px 11px 0px 0px;
}

nav #right_section ul li a i {
  margin: 0px 0px 0px 5px;
}

#banner {
  width: 940px;
  background: #161616;
  margin: 0 auto;
  color: #979797;
}

#banner img {
  width: 100%;
}

#banner #banner_content {
  padding: 20px;
}

#banner #banner_content #banner_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner #banner_content #banner_actions h2 {
  font: 18px/10px "Lato", sans-serif;
  color: #fff;
  margin: 0;
}

#banner #banner_content #banner_actions h2 button {
  background: transparent;
  border: none;
  color: #979797;
  font-size: 14px;
  margin: 0px 0px 0px 5px;
}

#banner #banner_content #banner_actions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner #banner_content #banner_actions div a {
  color: #34C65C;
  font: 14px/20px "Lato", sans-serif;
  font-weight: 500;
  margin: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner #banner_content #banner_actions div a img {
  width: 14px;
  margin: 0px 5px 0px 0px;
}

#banner #banner_content #banner_actions div a:nth-child(2) img {
  width: 12px;
}

#banner #banner_content p {
  font: 14px/16px "Lato", sans-serif;
  margin: 20px 0px;
  position: relative;
}

#banner #banner_content p #members {
  margin: 0px 0px 0px 13px;
}

#banner #banner_content p #members::before {
  content: "\2022";
  position: absolute;
  left: 43px;
}

#banner #banner_content p:last-child {
  margin: 0;
}

.tooltip_utility {
  position: relative;
}

.tooltip_utility .tooltip_utility_text {
  background-color: #000000;
  border-radius: 6px;
  bottom: 49px;
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font: 12px/18px "Lato", sans-serif;
  left: 15px;
  width: 100%;
  min-width: 140px;
  min-height: 10px;
  padding: 10px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

.tooltip_utility .tooltip_utility_text img {
  width: 25px;
  margin: 0px 10px 0px 0px;
}

.tooltip_utility .tooltip_utility_text::before {
  content: '';
  position: absolute;
  background: #000000;
  height: 10px;
  width: 30px;
  bottom: -9px;
  left: 60px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.tooltip_utility:hover .tooltip_utility_text {
  visibility: visible;
  cursor: pointer;
}

.popover {
  background: #0E0E10;
}

.popover .popover-body {
  background: #0E0E10;
  color: #fff !important;
}

/*resets*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
}

ul li {
  list-style-type: none;
}

body {
  background: #1E1E1F;
  font-size: "Lato", sans-serif;
}

.ui-accordion-content {
  max-height: 200px;
}

/* end resets*/
main {
  background: #101012;
  margin: 18px auto;
  min-height: 733px;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

main aside {
  background-color: #0E0E10;
  color: #979797;
  min-height: inherit;
  width: 240px;
}

main aside #accordion h3 {
  font: 16px/18px "Lato", sans-serif;
  margin: 0;
  padding: 14px 20px;
}

main aside #accordion h3.active {
  background: rgba(0, 158, 255, 0.15);
}

main aside #accordion h3 img {
  margin: 0px 15px 0px 0px;
  width: 16px;
}

main aside #accordion .ui-accordion-content {
  margin: 9.5px 0px 0px 0px;
}

main aside #accordion .ui-accordion-content ul li {
  margin: 0px 0px 10px 20px;
}

main aside #accordion .ui-accordion-content ul li a {
  color: #979797;
  margin: 0px 0px 0px 30px;
  text-decoration: none;
}

main aside #accordion .ui-accordion-content ul li:nth-child(3) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #13231A;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 37px;
  position: relative;
  width: 191px;
  margin-left: 35px;
  margin: 0px 0px 0px 20px;
}

main #main_display {
  width: 100%;
  overflow: auto;
  position: relative;
}

main #main_display #main_display_head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: relative;
}

main #main_display #main_display_head p {
  color: #979797;
  font: 14px/19px "Lato", sans-serif;
  margin: 0;
}

main #main_display #main_display_head p span {
  color: #fff;
  font: 16px/19px "Lato", sans-serif;
}

main #main_display #main_display_head button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  color: #34C65C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97px;
  position: relative;
}

main #main_display #main_display_head button img {
  width: 12px;
}

main #main_display #course_form {
  top: 40px;
  color: #979797;
  display: none;
  height: 100%;
  max-height: 450px;
  position: absolute;
  right: 0;
  z-index: 6;
  background: #0E0E10;
  border-radius: 4px;
}

main #main_display #course_form.show {
  display: block;
}

main #main_display #course_form ul {
  min-height: 358px;
  height: 100px;
  width: 258px;
  overflow: auto;
}

main #main_display #course_form ul::-webkit-scrollbar {
  width: 1px;
}

main #main_display #course_form ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main #main_display #course_form ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

main #main_display #course_form ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 14px/20px "Lato", sans-serif;
  height: 37px;
  padding: 10px;
  width: 100%;
}

main #main_display #course_form ul li input {
  margin: 0px 12px 0px 0px;
}

main #main_display #course_form ul li input::before {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  border: 2px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: close-quote;
  display: inline-block;
  height: 16px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 16px;
}

main #main_display #course_form ul li input:checked:before {
  background: #34C65C;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

main #main_display #course_form button {
  margin: 29px 0px 0px 0px;
  display: inline-block;
  width: 109px;
}

main #main_display #course_form button#btn_cancel_add_course {
  background: #2B2B2D;
  color: #fff;
  margin: 29px 5px 0px 10px;
}

main #main_display #course_form button#btn_add_course {
  background: #34C65C;
  color: #fff;
  margin: 29px 15px 0px 0px;
}

main #main_display #student_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #030303;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0px 0px;
  position: relative;
}

main #main_display #student_list p.assigment_scrolling {
  position: fixed;
  top: 20px;
  left: 500px;
}

main #main_display #student_list table {
  color: #34C65C;
  width: 100%;
}

main #main_display #student_list table thead tr {
  height: 40px;
}

main #main_display #student_list table thead tr th {
  border-right: 1px solid #979797;
  font-weight: normal;
  min-width: 180px;
  text-align: center;
}

main #main_display #student_list table thead tr th:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #030303;
  border-left: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin: 0;
  min-width: 230px;
  padding: 0px 0px 0px 20px;
  text-align: left;
}

main #main_display #add_course_image {
  bottom: 365px;
  left: 170px;
  position: absolute;
  right: 170px;
  top: 245px;
}
/*# sourceMappingURL=hh_styles.css.map */