/*variables*/
nav {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 14px/20px "Lato", sans-serif;
  height: 47px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 30px;
  width: 100%;
}

nav .brand {
  margin: 0px 12px 0px 0px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

nav #left_section, nav #right_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #left_section ul li:nth-child(1) {
  margin: 0px 36px 0px 0px;
}

nav #left_section ul li a {
  color: #979797;
  font-weight: 700;
}

nav #left_section ul li a:hover {
  text-decoration: none;
}

nav #left_section ul li a.active {
  color: #34C65C;
  position: relative;
  width: 68px;
}

nav #left_section ul li a.active::after {
  background: #34C65C;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 100%;
}

nav #right_section ul li:nth-child(2) {
  margin: 0px 0px 0px 19px;
}

nav #right_section ul li:nth-child(2) a {
  color: #fff;
  font-weight: 700;
}

nav #right_section ul li a {
  font-weight: 400;
  color: #34C65C;
}

nav #right_section ul li a img {
  margin: 0px 11px 0px 0px;
}

nav #right_section ul li a i {
  margin: 0px 0px 0px 5px;
}

#banner {
  width: 940px;
  background: #161616;
  margin: 0 auto;
  color: #979797;
}

#banner img {
  width: 100%;
}

#banner #banner_content {
  padding: 20px;
}

#banner #banner_content #banner_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner #banner_content #banner_actions h2 {
  font: 18px/10px "Lato", sans-serif;
  color: #fff;
  margin: 0;
}

#banner #banner_content #banner_actions h2 button {
  background: transparent;
  border: none;
  color: #979797;
  font-size: 14px;
  margin: 0px 0px 0px 5px;
}

#banner #banner_content #banner_actions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner #banner_content #banner_actions div a {
  color: #34C65C;
  font: 14px/20px "Lato", sans-serif;
  font-weight: 500;
  margin: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner #banner_content #banner_actions div a img {
  width: 14px;
  margin: 0px 5px 0px 0px;
}

#banner #banner_content #banner_actions div a:nth-child(2) img {
  width: 12px;
}

#banner #banner_content p {
  font: 14px/16px "Lato", sans-serif;
  margin: 20px 0px;
  position: relative;
}

#banner #banner_content p #members {
  margin: 0px 0px 0px 13px;
}

#banner #banner_content p #members::before {
  content: "\2022";
  position: absolute;
  left: 43px;
}

#banner #banner_content p:last-child {
  margin: 0;
}

/*resets*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
}

ul li {
  list-style-type: none;
}

body {
  background: #1E1E1F;
  font-size: "Lato", sans-serif;
}

main {
  background: #101012;
  width: 940px;
  margin: 0 auto;
}

main aside {
  color: #979797;
  padding: 20px;
  width: 240px;
}

main aside #accordion h3 {
  font: 16px/18px "Lato", sans-serif;
  padding: 18px;
}
/*# sourceMappingURL=hh_styles.css.map */