@import "partials/variables";
@import "partials/nav";
@import "partials/banner";
@import "partials/utilities";

/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul {
    li {
        list-style-type: none;
    }
    margin: 0px;
}


body {
    background:$black_primary;
    font-size: $lato_font;

}

.ui-accordion-content {
    max-height: 200px;
}

/* end resets*/

main {
    background: #101012;
    margin: 18px auto;
    min-height: 733px;
    width: 940px;
    display: flex;
    z-index: 4;
   
    aside {
        background-color: #0E0E10;
        color: $gray_primary;
        min-height: inherit;
        // padding: 0px 20px;
        width: 240px;
        
        #accordion {
            h3 {
                font: 16px/18px $lato_font;
                margin: 0;
                padding: 14px 20px;
                &.active {
                    background: rgba(0, 158, 255, 0.15);
                }
                img {
                    margin: 0px 15px 0px 0px;
                    width: 16px;
                }
            }

            .ui-accordion-content {
                margin: 9.5px 0px 0px 0px;
                
                ul {
                    li {
                        margin: 0px 0px 10px 20px;                    
                        a {
                            color:$gray_primary;
                            margin: 0px 0px 0px 30px;
                            text-decoration: none;
                        }

                        &:nth-child(3) {
                            align-items: center;
                            background: #13231A;
                            border-radius: 3px;
                            display: flex;
                            height: 37px;
                            position: relative;
                            width: 191px;
                            margin-left: 35px;
                            margin: 0px 0px 0px 20px;
                        }
                    }
                }
            }
        }
    }

    #main_display {
        width: 100%;
        overflow: auto;
        position: relative;
        #main_display_head {
            align-items: center;
            background: #161616;
            display: flex;
            height: 46px;
            justify-content: space-between;
            padding: 20px;
            position: relative;

            p {
                color: $gray_primary;
                font: 14px/19px $lato_font;
                margin: 0;
                span {
                    color: $white;
                    font: 16px/19px $lato_font;
                }
            }

            button {
                align-items: center;
                background: transparent;
                border: none;
                color: $green_primary;
                display: flex;
                justify-content: space-between;
                width: 97px;
                img {
                    width: 12px;
                }
            }

           
        }

       #assignments {
           display: flex;
           background: #030303;
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
           border-radius: 4px 4px 0px 0px;
           position: relative;
            p {
                background: #030303;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                align-items: center;
                color: $gray_primary;
                display: flex;
                height: 40px;
                margin: 0;
                min-width: 230px;
                text-align: left;
                padding: 0px 0px 0px 20px;

                &.assigment_scrolling {
                    position: fixed;
                    top: 20px;
                    left: 500px;
                }
            }

            table {
               
                color: $green_primary;
                width: 100%;
               
                tbody {
                   
                    tr {
                        height: 40px;
                        
                        td {
                            border-right: 1px solid #979797;
                            text-align: center;
                            min-width: 180px;
    
                            &:first-child{
                                border-left: 1px solid #979797;
                                width: 230px;
                            }
                        }
                    }
                }
            }
       }

       #add_course {
           bottom: 365px;
           left: 170px;
           position: absolute;
           right: 170px;
           top: 245px;
       }
        
    }

    #course_form{
        display: none;
        position: absolute;
        background: #101012;
        color: $gray_primary;
        z-index: 6;
        right: 0;
        bottom: -10px;
        right: 285px;
        // height: 431px;
        &.show{
            display: block;
        }

        ul {
            min-height: 358px;
            // height: 100px;
            width: 258px;
            overflow: auto;
           

            &::-webkit-scrollbar {
                width: 1px;
            }
             
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
             
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
            }
            
            li {
                display: flex;
                align-items: center;
                height: 37px ;
                border-bottom: 0.5px solid $gray_primary;
                font: 14px/20px $lato_font;
                padding: 10px;
                
                width: 100%;

                input {
                    margin: 0px 12px 0px 0px;
                }
            }
        }
    }
}





  
 