@import "partials/variables";
@import "partials/nav";
@import "partials/banner";
@import "partials/utilities";

/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul {
    li {
        list-style-type: none;
    }
    margin: 0px;
}


body {
    background:$black_primary;
    font-size: $lato_font;

}

.ui-accordion-content {
    max-height: 200px;
}

/* end resets*/

main {
    background: #101012;
    margin: 18px auto;
    min-height: 733px;
    width: 940px;
    display: flex;
    z-index: 4;
   
    aside {
        background-color: #0E0E10;
        color: $gray_primary;
        min-height: inherit;
        // padding: 0px 20px;
        width: 240px;
        
        #accordion {
            h3 {
                font: 16px/18px $lato_font;
                margin: 0;
                padding: 14px 20px;
                &.active {
                    background: rgba(0, 158, 255, 0.15);
                }
                img {
                    margin: 0px 15px 0px 0px;
                    width: 16px;
                }
            }

            .ui-accordion-content {
                margin: 9.5px 0px 0px 0px;
                
                ul {
                    li {
                        margin: 0px 0px 10px 20px;                    
                        a {
                            color:$gray_primary;
                            margin: 0px 0px 0px 30px;
                            text-decoration: none;
                        }

                        &:nth-child(3) {
                            align-items: center;
                            background: #13231A;
                            border-radius: 3px;
                            display: flex;
                            height: 37px;
                            position: relative;
                            width: 191px;
                            margin-left: 35px;
                            margin: 0px 0px 0px 20px;
                        }
                    }
                }
            }
        }
    }

    #main_display {
        width: 100%;
        overflow: auto;
        position: relative;

        // &::-webkit-scrollbar {
        //     height: 3px;
        // }
         
        // &::-webkit-scrollbar-track {
        //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        // }
         
        // &::-webkit-scrollbar-thumb {
        //   background-color: darkgrey;
        //   outline: 3px solid slategrey;
        // }

        #main_display_head {
            align-items: center;
            background: #161616;
            display: flex;
            height: 46px;
            justify-content: space-between;
            padding: 20px;
            position: relative;

            p {
                color: $gray_primary;
                font: 14px/19px $lato_font;
                margin: 0;
                span {
                    color: $white;
                    font: 16px/19px $lato_font;
                }
            }

            button {
                align-items: center;
                background: transparent;
                border: none;
                color: $green_primary;
                display: flex;
                justify-content: space-between;
                width: 97px;
                position: relative;

                img {
                    width: 12px;
                }

            }
           
        }

        #course_form{
            top: 40px;
            color: $gray_primary;
            display: none;
            height: 100%;
            max-height: 450px;
            position: absolute;
            right: 0; 
            z-index: 6;
            
            background: #0E0E10;
            border-radius: 4px;
            
            &.show{
                display: block;
            }
        
            ul {
                min-height: 358px;
                height: 100px;
                width: 258px;
                overflow: auto;
               
        
                &::-webkit-scrollbar {
                    width: 1px;
                }
                 
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                }
                 
                &::-webkit-scrollbar-thumb {
                  background-color: darkgrey;
                  outline: 1px solid slategrey;
                }
                
                li {
                    align-items: center;
                    border-bottom: 0.5px solid $gray_primary;
                    display: flex;
                    font: 14px/20px $lato_font;
                    height: 37px ;
                    padding: 10px;
                    width: 100%;
        
                    input {
                        margin: 0px 12px 0px 0px;
                        
                            &::before {
                                background-color: transparent;
                                border-color: transparent;
                                border-radius: 0;
                                border: 2px solid;
                                box-sizing: border-box;
                                content: close-quote;
                                display: inline-block;
                                height: 16px;
                                transition-duration: .5s;
                                transition-property: background-color, border-color;
                                transition-timing-function: cubic-bezier(.075, .820, .165, 1);
                                width: 16px;
                            }
                       
                            &:checked:before {
                                background: $green_primary;
                                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");     
                            }   
                        
                    }
                }
            }
        
            button {
                margin: 29px 0px 0px 0px; 
                display: inline-block;
                width: 109px;
                &#btn_cancel_add_course {
                    background: #2B2B2D;
                    color: $white;
                    margin: 29px 5px 0px 10px;
                }
        
                &#btn_add_course {
                    background: $green_primary;
                    color: $white;
                    margin: 29px 15px 0px 0px ; 
                }
            }
        }



       #student_list {
           display: flex;
           background: #030303;
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
           border-radius: 4px 4px 0px 0px;
           position: relative;
            p {
               

                &.assigment_scrolling {
                    position: fixed;
                    top: 20px;
                    left: 500px;
                }
            }

            table {
               
                color: $green_primary;
                width: 100%;
               
                thead {
                   
                    tr {
                        height: 40px;
                        
                        th{
                            border-right: 1px solid #979797;
                            font-weight: normal;
                            min-width: 180px;
                            text-align: center;

                            &:first-child{
                                align-items: center;
                                background: #030303;
                                border-left: none;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                color: $gray_primary;
                                display: flex;
                                height: 40px;
                                margin: 0;
                                min-width: 230px;
                                padding: 0px 0px 0px 20px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
       }

       #add_course_image {
           bottom: 365px;
           left: 170px;
           position: absolute;
           right: 170px;
           top: 245px;
       }
        
    }


}




