@import "partials/variables";
@import "partials/nav";
@import "partials/banner";

/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul {
    li {
        list-style-type: none;
    }
    margin: 0px;
}


body {
    background:$black_primary;
    font-size: $lato_font;

}

main {
    background: #101012;
    width: 940px;
    margin: 0 auto;

    aside {
        color: $gray_primary;
        padding: 20px;
        width: 240px;
        #accordion {
            h3 {
                font: 16px/18px $lato_font;
                padding: 18px;
            }
        }
    }
}