.tooltip_utility {
    position: relative;

    .tooltip_utility_text {
        background-color: #000000;
        border-radius: 6px;
        bottom: 49px;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        font: 12px/18px $lato_font;
        left: 15px;
        width: 100%;
        min-width: 140px;
        min-height: 10px;
        padding: 10px;
        position: absolute;
        text-align: center;
        visibility: hidden;
        z-index: 1;

        img {
          width: 25px;
          margin: 0px 10px 0px 0px;
        }
        
        &::before {
            content: '';
            position: absolute;
            background: #000000;
            height: 10px;
            width: 30px;
            bottom: -9px;
            left: 60px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
      }

      &:hover .tooltip_utility_text {
        visibility: visible;
        cursor: pointer;
      }
}


.popover {
  background: #0E0E10;
  .popover-body {
    background: #0E0E10;
    color: #fff !important;
  }
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  background: #070707;
  border-radius: 4px; 
  bottom: 30px; 
  color: #fff; 
  left: 50%; 
  margin-left: -125px; 
  min-width: 381px;
  height: 52px;
  padding: 16px; 
  position: fixed; 
  visibility: hidden;
  z-index: 1; 
  display: flex;
  align-items: center;

  img {
    margin: 0px 10px 0px 0px;
  }

  button {
    margin: 0px 0px 0px 10px;
    background:transparent;
    border:none;
    display: flex;
    align-items: center;
    img {

    }
  }

  &.show {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    However, delay the fade out process for 2.5 seconds */
    visibility: visible; /* Show the snackbar */
  }

}



/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* Modal */
.modal-content{
  background: #030304;
  margin: 0 auto;
  width: 340px;
  height: 426px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 1px;
  }
 
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .modal-header {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    h5 {
      color: #fff;
      font: 18px/20px $lato_font;

      img {
        margin: 2px 7px 0px 0px;
        vertical-align: top;
      }
    }
  }

  .modal-body {
    p {
      color: $gray_primary;
      font: 14px/16px $lato_font;
     
      span {
        color: #34C65C;
      }
      
      &#number_of_words {
        align-items: center;
        display: flex;
        justify-content: space-between;

        span {
          color: rgba(151, 151, 151, 0.5);
        }
      }

    }

    a {
      align-items: center;
      color: #009EFF;
      display: flex;
      justify-content: space-between;

      &:hover {
        text-decoration: none;
        color: #009EFF;
      }

      img {
        &:last-child {
          margin: 0px 0px 0px 36px;
        }
      }
    }

    #list_of_notes {
      border-top: 1px solid rgba(151, 151, 151, 0.3);
      margin: 20px 0px 0px 0px;
      padding: 20px 0px 0px;

      .note {
          margin: 0px 0px 55px 0px;

          &:last-child {
            margin: 0px;
          }
           p {
             span {
              &.note_time {
                color:rgba(151, 151, 151, 0.5);
                font-style: italic;
                font: 14px/16px italic $lato_font;
              }
             }
           }

           #note_body {
             @extend #student_note;
           }

           button {
             background: none;
             border: none;
             color: $gray_primary;
             font: 14px/17px $lato_font;
             width: 54px;
           }
      }
    }
  }

  #student_note {
    background: #252527;
    color: #fff;
    font: 14px/20px $lato_font;
    margin: 12px 0px 20px;
    padding: 10px;
  }

  textarea {
    background: #0E0E10;
    border: none;
    border-radius: 4px;
    display: flex;
    resize: none;
    width: 100%;
    height: 100px;
    margin: 10px 0px 20px;
    color: #fff;
  }

  button {
    border-radius: 4px;
    color: #fff;
    width: 77px;
    
    &.close_modal {
      background: #2B2B2D; 
      margin: 0px 10px 0px 0px;
      &:hover {
        color: #fff;
        background: #2B2B2D; 
      }
    }
    
    &.submit_note {
      background: #34C65C;
      border-radius: 4px;
      &:hover {
        color: #fff;
        background: #34C65C;
      }
    }
  }
}

.modal-backdrop {
  background-color: unset;
}